apps/site
# apps/docs
packages/local
# packages/tailwind-config
# packages/zenith-flow-lib
# packages/zenith-flow-tsconfig
# packages/zenith-flow-ui





# misc
.DS_Store
*.pem

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build
.swc/

packages/spree
packages/swell
packages/taskr-swc
packages/vendure
packages/bigcommerce
packages/commerce
packages/commercejs
packages/eslint-config-zenith
packages/kibocommerce
packages/ordercloud
packages/saleor
packages/sfcc
packages/shopify
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
