# misc
.DS_Store
*.pem

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build
.swc/
apps/site
packages/local
packages/spree
packages/swell
packages/taskr-swc
packages/vendure
packages/bigcommerce
packages/commerce
packages/commercejs
packages/eslint-config-zenith
packages/kibocommerce
packages/ordercloud
packages/saleor
packages/sfcc
packages/shopify
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
storybook-static/
